

.hs-wrap{
  max-width: 570px;
  margin: 0 auto;
  padding: 47px 30px 53px;
  position: relative;
  text-align: center;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid rgba(255,255,255, .5);
}

.hs-wrap-1{
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  text-align: center;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hs-line-1{
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 51px;
  color: #fff;
  opacity: .9;
}
.hs-line-2{
  margin-top: 0;
  position: relative;
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.085em;
  line-height: 1.3;
  color: rgba(255,255,255, .85);
}
.hs-line-3{
  margin-top: 0;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255,255,255, .7);
}

.hs-line-4{
  margin-top: 0;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgba(255,255,255, .85);
}
.hs-line-5{
  margin-top: 0;
  position: relative;
  font-size: 62px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.32em;
  opacity: .85;
}
.hs-line-6{
  margin-top: 0;
  position: relative;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.2;
  opacity: .35;
}
.hs-line-6.no-transp{
  opacity: 1;
}
.hs-line-7{
  margin-top: 0;
  position: relative;
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}
.hs-line-8{
  margin-top: 0;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3em;
  line-height: 1.2;
  opacity: .75;
}
.hs-line-8.no-transp{
  opacity: 1;
}

.hs-line-9{
  margin-top: 0;
  position: relative;
  font-size: 96px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}
.hs-line-10{
  margin-top: 0;
  display: inline-block;
  position: relative;
  padding: 15px 24px;
  background: rgba(0,0,0, .75);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255,255,255, .85);
}
.hs-line-10 > span{
  margin: 0 10px;
}
.hs-line-10.highlight{
  background: #e41919;
  opacity: .65;
}
.hs-line-10.transparent{
  background: none;
  color: #aaa;
  padding: 0;
}
.hs-line-11{
  margin-top: 0;
  position: relative;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  line-height: 1.8;
  opacity: .9;
}
.hs-line-12{
  margin-top: 0;
  position: relative;
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.hs-line-13{
  margin-top: 0;
  position: relative;
  font-size: 96px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.hs-line-14{
  margin-top: 0;
  position: relative;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.7em;
}
.hs-line-15{
  margin-top: 0;
  position: relative;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.3;
}
.no-transp{
  opacity: 1 !important;
}

.fullwidth-galley-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}
