
.intro-image{
  width:100%;
}
.intro-label{
  position: absolute;
  top:7px;
  right: 10px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.label-new{
  background: #f32929;
  color: white;
  padding: 2px 3px;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.label-for-button{
  position: absolute;
  top: -5px;
  right: -5px;
}
.intro-label-round{
  width: 50px;
  height: 50px;
  position: absolute;
  top:-5px;
  right: -5px;
  color: rgba(255,255,255, .85);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  line-height: 50px;
  background: #f32929;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}


.sp-button{
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 54px;
  height: 54px;
  background: #111;
  opacity: .85;
  text-indent: -12345px;
  z-index: 1030;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.sp-button:hover{
  opacity: 1;
}
.sp-button span{
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -11px;

  -webkit-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.sp-button span:before,
.sp-button span:after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: -6px;
  left: 0;

  -webkit-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -webkit-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
  -moz-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -moz-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
  -o-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -o-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
  -ms-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -ms-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
  transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
}
.sp-button span:after{
  top: auto;
  bottom: -6px;
}


/* Logo */
.sp-logo-wrap{
}
.sp-logo-wrap .logo{
  display: block;
  padding: 30px;
  text-align: center;

  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.sp-logo-wrap .logo img{
  max-width: 100%;
}

/* Menu */

.sp-wrapper{

}
.sp-menu-links,
.sp-menu-links ul{
  margin: 0;
  padding: 10px 0;
  line-height: 1.3;
  text-align: center;
}
.sp-menu-links ul.sp-sub{
  padding: 0;
}
.sp-menu-links a{
  display: block;
  position: relative;
  margin: 0;
  padding: 15px 20px;
  color: #999;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(255,255,255, .1);

  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);

  z-index: 11;
}
.no-touch .sp-menu-links a:hover,
.sp-menu-links a:active,
.sp-menu-links li.js-opened > a{
  color: #d5d5d5;
  text-decoration: none;
}
.no-touch .sp-menu-links a:hover{
  background-color: rgba(255,255,255, .05);
}
.sp-menu-links li{
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.sp-menu-links li > a:active,
.sp-menu-links li a.active{
  color: #f5f5f5;
}
.sp-menu-links li.js-opened:before{
  display: none;
}
.no-touch .sp-menu-links li.js-opened > a:hover,
.sp-menu-links li.js-opened > a:active{
  color: #fff;
}

.sp-has-sub{

}
.sp-has-sub .fa{
  font-size: 14px;
}
.js-opened > .sp-has-sub > .fa{
  color: #fff;
}
.sp-sub{
  display: none;
  opacity: 0;
  position: relative;
}
.sp-sub > li > a{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 400;
}

.sp-menu-links li.js-opened .sp-sub{
  opacity: 1;
}
.sp-search{
  width: 100%;
}
.sp-search input.search-field{
  background: transparent;
  color: #555;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(255,255,255, .2);
}
.sp-search input.search-field:hover{
  border: none;
  border-bottom: 1px solid rgba(255,255,255, .4);
}
.sp-search input.search-field:focus{
  color: #999;
  border-color: rgba(255,255,255, .7);
}
.sp-search .search-button:hover{
  color: #fff;
}


/* Social links */

.sp-social-links{
  position: fixed;
  bottom: 0;
  left: 0;
  width: inherit;
  padding: 10px 10px 30px 10px;
  font-size: 14px;
  text-align: center;
  background: transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  z-index: 1032;
}
.sp-social-links > a{
  display: inline-block;
  margin: 0 2px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border: 1px solid rgba(255,255,255, .15);
  text-align: center;
  text-decoration: none;
  color: #555;

  -webkir-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.sp-social-links > a:hover{
  border-color: rgba(255,255,255, .3);
  color: #999;
}

/* White side panel */

.side-panel.white{
  color: rgba(0,0,0, .65) !important;
  background: #fafafa;
  border-right: 1px solid rgba(0,0,0, .07);
}
.side-panel.white .sp-close-button{
  border: 1px solid rgba(0,0,0, .5);
}

.side-panel.white .sp-close-button:before{
  background: #000;
}
.side-panel.white .sp-close-button:after{
  background: #000;
}
.side-panel.white .sp-menu-links a{
  color: #777;
  -webkit-tap-highlight-color: rgba(0,0,0, .05);
}
.side-panel.white .sp-menu-links li{
  border-top: 1px solid rgba(0,0,0, .04);
}
.side-panel.white .sp-menu-links li:last-child{
  border-bottom: 1px solid rgba(0,0,0, .04);
}

.no-touch .side-panel.white .sp-menu-links a:hover,
.side-panel.white .sp-menu-links a:active,
.side-panel.white .sp-menu-links li.js-opened > a{
  color: #111;
  text-decoration: none;
}
.no-touch .side-panel.white .sp-menu-links a:hover{
  background-color: rgba(0,0,0, .03);
}

.side-panel.white .sp-menu-links li > a:active,
.side-panel.white .sp-menu-links li a.active{
  color: #111;
}
.no-touch .side-panel.white .sp-menu-links li.js-opened > a:hover,
.side-panel.white .sp-menu-links li.js-opened > a:active{
  color: #111;
}

.side-panel.white .js-opened > .sp-has-sub > .fa{
  color: #333;
}
.side-panel.white .sp-sub > li{
  border: none!important;
}

.side-panel.white .sp-social-links > a{
  border: 1px solid rgba(0,0,0, .15);
  color: rgba(0,0,0, .4);
}
.side-panel.white .sp-social-links > a:hover{
  border-color: rgba(0,0,0, .3);
  color: rgba(0,0,0, .75);
}

/* Photo Tilt effect */

.tilt-wrap{
  width: 100%;
  position: relative;
}
.tilt{
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.tilt__back, .tilt__front{
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tilt__back{
  position: relative;
}
.tilt__front{
  position: absolute;
  top: 0;
  left: 0;
}



.bg-video-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.bg-video-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.bg-video-wrapper video{
  max-width: inherit;
  height: inherit;
  z-index: 0;
}


.testimonial{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-align: center;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  opacity: .85;
}
.testimonial p{
  font-size: 18px;
}
.testimonial-author{}

.shopping-cart-table{}
.shopping-cart-table a{
  text-decoration: none;
}
table.shopping-cart-table tr th,
table.shopping-cart-table tr td{
  vertical-align: middle;
}