html{
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}
html, body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
.page{
  overflow: hidden;
}

.body-masked{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff url(/assets/images/loader.gif) no-repeat center center;
  z-index: 100000;
}

.mask-delay{
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.mask-speed{
  -webkit-animation-duration: 0.25s !important;
  -moz-animation-duration: 0.25s !important;
  animation-duration: 0.25s !important;
}
iframe{
  border: none;
}
a, b, div, ul, li{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -moz-outline-: none;
}
a:focus,
a:active{
  -moz-outline: none;
  outline: none;
}
img:not([draggable]), embed, object, video{
  max-width: 100%;
  height: auto;
}

.margin-block{
  margin-bottom: 30px;
}

.blurry{
  -ms-filter: progid:DXImageTransform.Microsoft.blur(2px);
  filter: progid:DXImageTransform.Microsoft.blur(2px);
}

.delay-2s{  animation-delay: 2s; }
.delay-3s{  animation-delay: 3s; }
.delay-4s{  animation-delay: 4s; }
.delay-5s{  animation-delay: 5s; }

