.align-center{ text-align:center !important; }
.align-left{ text-align:left !important;}
.align-right{ text-align:right !important; }
.left{float:left !important;}
.right{float:right !important;}
.relative{position:relative; z-index: 99}
.hidden{display:none;}
.inline-block{display:inline-block;}
.white{ color: #fff !important; }
.black{ color: #111 !important; }
.color{ color: #e41919 !important; }
.glass{ opacity: .5; };
.image-fullwidth img{
  width: 100%;
}
.stick-fixed{
  position: fixed !important;
  top: 0;
  left: 0;
}
.round{
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}

::-moz-selection{ color: #fff; background:#000; }
::-webkit-selection{ color: #fff;    background:#000; }
::selection{ color: #fff;    background:#000; }

.animate, .animate *{
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.no-animate, .no-animate *{
  -webkit-transition: 0 none !important;
  -moz-transition: 0 none !important;
  -ms-transition: 0 none !important;
  -o-transition: 0 none !important;
  transition:0 none !important;
}

.shadow{
  -webkit-box-shadow: 0px 3px 50px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0px 3px 50px rgba(0, 0, 0, .15);
  box-shadow: 0px 3px 50px rgba(0, 0, 0, .15);
}
.white-shadow{
  -webkit-box-shadow: 0px 0px 200px rgba(255, 255, 255, .2);
  -moz-box-shadow: 0px 0px 200px rgba(255, 255, 255, .2);
  box-shadow: 0px 0px 200px rgba(255, 255, 255, .2);
}

.clearlist, .clearlist li {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.full-wrapper {
  margin: 0 2%;
}
.container-fluid{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-1400{
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
