.blog-item{
  margin-bottom: 80px;
  position: relative;
}

.blog-item-date{
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: -130px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #999;
  border-right: 1px solid #eee;

}
.date-num{
  display: block;
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 400;
  color: #555;
}
.blog-media{
  margin-bottom: 30px;
}
.blog-media img,
.blog-media .video,
.blog-media iframe{
  width: 100%;
}
.blog-item-title{
  margin: 0 0 .5em 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;

}
.blog-item-title a{
  color: #111;
  text-decoration: none;
}
.blog-item-title a:hover{
  color: #777;
  text-decoration: none;
}
.blog-item-data{
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color: #aaa;
}
.separator{
  margin: 0 5px;
}
.blog-item-data a{
  color: #aaa;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-item-data a:hover{
  color: #000;
  text-decoration: none;
}
.blog-post-data{
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color: #aaa;
}
.blog-item-body{
  font-size: 16px;
  font-weight: 300;
  color: #5f5f5f;
  line-height: 1.8;
}
.blog-item-body h1,
.blog-item-body h2,
.blog-item-body h3,
.blog-item-body h4,
.blog-item-body h5,
.blog-item-body h6{
  margin: 1.3em 0 0.5em 0;
}

.blog-item-more{
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 1px;

  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-item-more:hover{
  text-decoration: none;
  border-color: #111;
}
a.blog-item-more{
  color: #777;
  text-decoration: none;
}
a.blog-item-more:hover{
  color: #111;
}

.blog-item-q{
  background: none;
  border: none;
  padding: 0;
  margin: 1em 0;
}
.blog-item-q p{
  position: relative;
  background: #f8f8f8;
  padding: 17px 20px;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
}
.blog-item-q p a{
  color: #555;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-item-q:hover a,
.blog-item-q p a:hover{
  text-decoration: none;
  color: #777;
}
.blog-item-q p:before,
.blog-item-q p:after{
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-item-q p:before{
  content: '"';
  position: absolute;
  top: 10px;
  left: 10px;
}
.blog-item-q p:after{
  content: '"';
}

.blog-item-q p:hover:before,
.blog-item-q p:hover:after{
  color: #777;
}
.blog-page-title{
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
