
.contact-item{
  position: relative;
  padding-left: 44px;
  color: #444;

  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.contact-item a{
  color: #444;
  text-decoration: none;
}

.contact-item a:hover{
  color: #000;
  text-decoration: none;
}

.ci-icon{
  width: 23px;
  height: 23px;
  position: absolute;
  top: 10px;
  left: 3px;
  color: #fff;
  text-align: center;
  line-height: 23px;
}
.ci-icon:before{
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #111;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}
.ci-icon i,
.ci-icon span{
  position: relative;
}
.ci-title{
  margin-bottom: 1px;
  color: #777;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.ci-text{
  font-size: 15px;
  font-weight: 300;
}

/*
 * Contact form
 */

.cf-left-col{
  width: 49.4%;
  float: left;
  margin-right: 1.2%;
}
.cf-right-col{
  width: 49.4%;
  float: left;
}
.contact-form .form-group{
  margin-bottom: 10px;
}
