.open>.dropdown-menu {
  display: block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  font-family: Dosis, arial, sans-serif;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#projects-flow .row-nav-animation{margin: 100px 0 60px 0;padding-right: 58px;}
#projects-flow .play-list-box{position: relative;padding: 0;}
#projects-flow .block-btn-animate{height: 60px; line-height: 60px; display: inline-block; vertical-align: top}
#projects-flow .block-btn-animate a{color: black; cursor: pointer}
#projects-flow .btn-play-list{background-color: black;text-align: left; height: 50px; padding: 5px 10px 5px 20px; position: relative; z-index: 1;margin-top: 5px;width: 220px;}
#projects-flow .btn-play-list a{text-transform: uppercase; color: #dddddd; line-height: 40px;letter-spacing: 0.3em;font-size: 11px;display:block;text-decoration: none;}
#projects-flow .btn-play-list a img{position:absolute; right: 10px; top: 15px;transform: rotate(180deg);}

#projects-flow .filter_text{font-family: "Droid Sans", sans-serif;font-size: 11px;color: #000000;letter-spacing: 3px;margin-top: 22px;margin-right: 10px}
#projects-flow .btn-play-list .dropdown-menu{background: #000000;width: 70vw;left: 0 ;border-radius: 0;top:55px;}
#projects-flow .btn-play-list .dropdown-menu li ul{padding: 0;}
#projects-flow .btn-play-list .dropdown-menu li ul li{padding: 0 18px;cursor: pointer;}
#projects-flow .btn-play-list .dropdown-menu li ul li:active{background-color: rgba(255,255,255,0.2)}
#projects-flow .btn-play-list .dropdown-menu li ul li:not(:first-child):hover{background-color: rgba(255,255,255,0.2)}
#projects-flow .btn-play-list .dropdown-menu li ul.border-right{border-right: 1px solid #191919; }
#projects-flow .btn-play-list .dropdown-menu li ul.border-left{border-right: 1px solid #191919; }
#projects-flow .btn-play-list .dropdown-menu li{display: inline-block;width: 100%;line-height: 3.4rem;}
#projects-flow .btn-play-list .dropdown-menu li ul .filter_heading{font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size: 14px; color: #ffffff;letter-spacing: 4px;cursor: default; font-weight: 100}
#projects-flow .btn-play-list .dropdown-menu li ul li span{color: #ffffff; font-family: "Open Sans", Arial, Helvetica, sans-serif;font-size: 13px; font-weight: 100; font-variant:annotation}
#projects-flow .btn-play-list .dropdown-menu .view_all{font-family: "Open Sans", Arial, Helvetica, sans-serif;color: #ffffff;  border-top: 1px solid rgba(0,0,0,.15);}
#projects-flow .btn-play-list .dropdown-menu .view_all:hover{background-color: rgba(255,255,255,0.2);}
