.dropdown-menu {
  &.js-close{
    display: none;
  }
  &.js-open{
    display: block;
  }
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  font-family: Dosis, arial, sans-serif;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .dropdown-menu{
     max-height: 350px;
     overflow: scroll;
  }
}


#projects-flow{
  .row-nav-animation{margin: 100px 0 60px 0;padding-right: 58px;}
  .play-list-box{position: relative;padding: 0;}
  .block-btn-animate{height: 60px; line-height: 60px; display: inline-block; vertical-align: top}
  .block-btn-animate a{color: black; cursor: pointer}
  .btn-play-list{background-color: black;text-align: left; height: 50px; padding: 5px 10px 5px 20px; position: relative; z-index: 1;margin-top: 5px;width: 220px;}
  .filter_text{font-family: "Droid Sans", sans-serif;font-size: 11px;color: #000000;letter-spacing: 3px;margin-top: 22px;margin-right: 10px}
  .btn-play-list{

  }

  .portfolio-filter-btn{text-transform: uppercase; color: #dddddd; line-height: 40px;letter-spacing: 0.3em;font-size: 11px;display:block;text-decoration: none;}
  .portfolio-filter-btn img{position:absolute; right: 10px; top: 15px;transform: rotate(180deg);}
}

.dropdown-menu{background: #000000; left: 0 ;border-radius: 0;top: 0px; z-index: 9999; display: inline-block;width: 100%;line-height: 3.4rem;}
.dropdown-menu ul{padding: 0;}
.dropdown-menu ul li{padding: 0 18px;cursor: pointer;}
.dropdown-menu ul li:active{background-color: rgba(255,255,255,0.2)}
.dropdown-menu ul li:not(:first-child):hover{background-color: rgba(255,255,255,0.2)}
.dropdown-menu ul.border-right{border-right: 1px solid #191919; }
.dropdown-menu ul.border-left{border-right: 1px solid #191919; }
.dropdown-menu ul .filter_heading{font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size: 14px; color: #ffffff;letter-spacing: 4px;cursor: default; font-weight: 100}
.dropdown-menu ul li span{color: #ffffff; font-family: "Open Sans", Arial, Helvetica, sans-serif;font-size: 13px; font-weight: 100; font-variant:annotation}
.dropdown-menu .view_all{font-family: "Open Sans", Arial, Helvetica, sans-serif;color: #ffffff;  border-top: 1px solid rgba(0,0,0,.15);}
.dropdown-menu .view_all:hover{background-color: rgba(255,255,255,0.2);}


.selectedTags {
   padding-top: 4px;
   .btn{ margin-right: 4px; position: relative }
   .btn:after{ position: absolute; width: 0; left: 10%; height:1px; background: black; content: ""; top:50% ;  transition: width 0.21s ease-in; }
   .btn-border{ border-width: 1px }
   .btn:hover{
     background: none;
     color: black;
     border: solid 1px black;
     &:after{ width: 80%}
   }

}