.fm-logo-wrap{
  position: absolute;
  top: 30px;
  left: 30px;
  height: 54px;
  z-index: 1030;
}
.fm-logo-wrap .logo{
  display: block;
  max-width: 200px;
  position: relative;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.fm-button{
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 34px;
  height: 34px;
  opacity: .85;
  text-indent: -12345px;
  z-index: 1030;
  -webkit-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: opacity 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  color: #222;
  &:before{
     position: absolute;
     width: 100%;
     height: 100%;
     content: "";
     border: solid 1px white;
     left: 0;
     top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.small-height .fm-button{
  top: 8px;
  right: 15px;
  span {
    background: #222;
    &:before,
    &:after{
      background: #222;
    }
  }
  &:before{
    border-color: #222
  }
}

.light .fm-button{
  span {
    background: #222;
    &:before,
    &:after{
      background: #222;
    }
  }
  &:before{
    border-color: #222
  }
}



.fm-button:hover{
  opacity: 1;
}
.fm-button span{
  display: block;
  width: 22px;
  height: 1px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -11px;

  -webkit-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.fm-button span:before,
.fm-button span:after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: white;
  position: absolute;
  top: -6px;
  left: 0;

  -webkit-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -webkit-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
  -moz-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -moz-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
  -o-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -o-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
  -ms-transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), -ms-transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
  transition: top 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), bottom 0.07s cubic-bezier(0.000, 0.000, 0.580, 1.000), transform 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000) 0.07s;
}
.fm-button span:after{
  top: auto;
  bottom: -6px;
}

/* Active menu button */

.fm-button.active{
  background: transparent;
  z-index: 2001;
  &:before{
     background-color: #222;
     border-color: #222;
  }
}
.fm-button.active span{
  background:transparent;
}
.fm-button.active span:before{
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background:#fff;
}
.fm-button.active span:after{
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background:#fff;
}


.fm-wrapper{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  .fm-wrapper-content{
    width: 100%;
    height: 100%;
    background: rgba(10,10,10, .97);
    padding: 50px 30px;
    opacity: 0;
    transition: all 1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    &.active{
      opacity: 1;
    }
  }

  &.active{
    display: block;
  }
}
.fm-wrapper-sub{
  display: table;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition-delay: 0.5s;
}
.fm-wrapper-sub.js-active{
  opacity: 1;
  transform: translateY(0);
}

.fm-wrapper-sub-sub{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.fm-menu-links,
.fm-menu-links ul{
  margin: 0;
  padding: 10px 0;
  line-height: 1.3;
  text-align: center;
}
.fm-menu-links ul.fm-sub{
  padding: 0;
}
.fm-menu-links a{
  display: block;
  position: relative;
  margin: 0;
  padding: 15px 20px;
  color: #999;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(255,255,255, .1);

  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);

  z-index: 11;
}
.no-touch .fm-menu-links a:hover,
.fm-menu-links a:active,
.fm-menu-links li.js-opened > a{
  color: #d5d5d5;
  text-decoration: none;
}
.fm-menu-links li{
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.fm-menu-links li > a:active,
.fm-menu-links li.active > a,
.fm-menu-links li a.active{
  color: #f5f5f5;
}
.fm-menu-links li.js-opened:before{
  display: none;
}
.no-touch .fm-menu-links li.js-opened > a:hover,
.fm-menu-links li.js-opened > a:active{
  color: #fff;
}

.fm-has-sub{

}
.fm-has-sub .fa{
  font-size: 14px;
}
.js-opened > .fm-has-sub > .fa{
  color: #fff;
}
.fm-sub{
  display: none;
  opacity: 0;
  position: relative;
}
.fm-sub > li > a{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 400;
}

.fm-menu-links li.js-opened .fm-sub{
  opacity: 1;
}
.fm-search{
  width: 320px;
}
.fm-search input.search-field{
  background: transparent;
  color: #555;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(255,255,255, .2);
}
.fm-search input.search-field:hover{
  border: none;
  border-bottom: 1px solid rgba(255,255,255, .4);
}
.fm-search input.search-field:focus{
  color: #999;
  border-color: rgba(255,255,255, .7);
}
.fm-search .search-button:hover{
  color: #fff;
}


/* Social links */

.fm-social-links{
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
.fm-social-links > a{
  display: inline-block;
  margin: 0 6px;
  width: 25px;
  height: 25px;
  line-height: 25px !important;
  text-align: center;
  text-decoration: none;
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  position: relative;
  color: white;
  cursor: pointer;
  &:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    transform: rotate(45deg);
    border: 1px solid rgba(255,255,255, .85);
    cursor: pointer;
  }
}
.fm-social-links > a:hover{
  border-color: rgba(255,255,255, .3);
  color: #999;
}


@media only screen and (max-width: 480px){
  .fm-menu-links a {
    font-size: 14px;
  }
}
