/*
 * Header common styles
 */

.home-section{
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-content{
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}


/* Home content */

.home-content{
  position: relative;
}
.home-text{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

/* Scroll down icon */

@-webkit-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@-moz-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@-o-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}

.scroll-down{
  width: 40px;
  height: 40px;
  margin-left: -20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  text-decoration: none;

  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

}

.scroll-down:before{
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin: 0 0 0 -10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #fff;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

  z-index: 1;
}

.scroll-down:hover:before{
  opacity: .6;
}


.scroll-down-icon{
  display: block;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  position: absolute;
  left: 50%;
  bottom: 4px;
  color: #111;
  font-size: 15px;

  -webkit-animation: scroll-down-anim 1s infinite;
  -moz-animation: scroll-down-anim 1s infinite;
  -o-animation: scroll-down-anim 1s infinite;
  animation: scroll-down-anim 1s infinite;


  z-index: 2;
}


/*
 * HTML5 BG VIdeo
 */

.bg-video-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.bg-video-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.bg-video-wrapper video{
  max-width: inherit;
  height: inherit;
  z-index: 0;
}



/*
 * Headings styles
 */


.hs-wrap{
  max-width: 570px;
  margin: 0 auto;
  padding: 47px 30px 53px;
  position: relative;
  text-align: center;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid rgba(255,255,255, .5);
}

.hs-wrap-1{
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  text-align: center;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hs-line-1{
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 51px;
  color: #fff;
  opacity: .9;
}
.hs-line-2{
  margin-top: 0;
  position: relative;
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.085em;
  line-height: 1.3;
  color: rgba(255,255,255, .85);
}
.hs-line-3{
  margin-top: 0;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255,255,255, .7);
}

.hs-line-4{
  margin-top: 0;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgba(255,255,255, .85);
}
.hs-line-5{
  margin-top: 0;
  position: relative;
  font-size: 62px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.32em;
  opacity: .85;
}
.hs-line-6{
  margin-top: 0;
  position: relative;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.2;
  opacity: .35;
}
.hs-line-6.no-transp{
  opacity: 1;
}
.hs-line-7{
  margin-top: 0;
  position: relative;
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}
.hs-line-8{
  margin-top: 0;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3em;
  line-height: 1.2;
  opacity: .75;
}
.hs-line-8.no-transp{
  opacity: 1;
}

.hs-line-9{
  margin-top: 0;
  position: relative;
  font-size: 96px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}
.hs-line-10{
  margin-top: 0;
  display: inline-block;
  position: relative;
  padding: 15px 24px;
  background: rgba(0,0,0, .75);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255,255,255, .85);
}
.hs-line-10 > span{
  margin: 0 10px;
}
.hs-line-10.highlight{
  background: #e41919;
  opacity: .65;
}
.hs-line-10.transparent{
  background: none;
  color: #aaa;
  padding: 0;
}
.hs-line-11{
  margin-top: 0;
  position: relative;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  line-height: 1.8;
  opacity: .9;
}
.hs-line-12{
  margin-top: 0;
  position: relative;
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.hs-line-13{
  margin-top: 0;
  position: relative;
  font-size: 96px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.hs-line-14{
  margin-top: 0;
  position: relative;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.7em;
}
.hs-line-15{
  margin-top: 0;
  position: relative;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.3;
}
.no-transp{
  opacity: 1 !important;
}

.fullwidth-galley-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}

.small-block{
  display: inline-block;
  min-width: 80px
}


.industry-experience{
   &:hover, td, td:hover{
     cursor: pointer !important;
   }

}