
/*
 * Font icons examples
 */

.fa-examples{
  color: #555;
  margin-left: 1px;
}
.fa-examples > div{
  padding: 0;
  border: 1px solid #e5e5e5;
  margin: -1px 0 0 -1px;
  font-size: 13px;
}
.fa-examples > div:hover{
  background: #f0f0f0;
  color: #000;
}
.fa-examples > div > i{
  display: inline-block;
  margin-right: 5px;
  min-width: 40px;
  min-height: 40px;
  border-right: 1px solid #f1f1f1;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
.fa-examples > div > .muted{
  margin-left: 5px;
  color: #999;
  font-size: 12px;
}
.fa-sm{
  width: 20px;
  font-size: 14px;
}

.et-examples{
  color: #555;
  margin-left: 1px;
  vertical-align: middle;
}
.et-examples .box1{
  display: block;
  width: 33%;
  float: left;
  padding: 0;
  border: 1px solid #e5e5e5;
  margin: -1px 0 0 -1px;
  font-size: 13px;
}
@media only screen and (max-width: 1024px) {
  .et-examples .box1{
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .et-examples .box1{
    width: 100%;
  }
}
.et-examples .box1:hover{
  background: #f8f8f8;
  color: #111;
}
.et-examples .box1 > span{
  display: inline-block;
  margin-right: 5px;
  min-width: 70px;
  min-height: 70px;
  border-right: 1px solid #f1f1f1;
  line-height:70px;
  text-align: center;
  font-size: 32px;
}
