
.newsletter-label{
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.form input.newsletter-field{
  max-width: 293px;
}
.form input.newsletter-field:hover{

}
.form input.newsletter-field:focus{

}

.form input.newsletter-field::-webkit-input-placeholder{
  color: #777;
}
.form input.newsletter-field:focus::-webkit-input-placeholder{
  color: #111;
}

.form input.newsletter-field:-moz-placeholder{
  color: #777;
}
.form input.newsletter-field:focus:-moz-placeholder{
  color: #111;
}

.form input.newsletter-field::-moz-placeholder{
  color: #777;
}
.form input.newsletter-field:focus::-moz-placeholder{
  color: #111;
}

.form input.newsletter-field:-ms-input-placeholder{
  color: #777;
}
.form input.newsletter-field:focus:-ms-input-placeholder{
  color: #111;
}