.tpl-progress{
  margin-top: 10px;
  margin-bottom: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: visible;
  height: 2px;
  background: #f0f0f0;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tpl-progress .progress-bar{
  padding-top: 2px;
  position: relative;
  overflow: visible;
  background-color: #222;
  font-size: 11px;
  color: #000;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 0;
  transition: all 1s ease-in;
}
.tpl-progress .progress-bar > span{
  display: inline-block;
  min-width: 24px;
  height: 24px;
  padding: 0 3px;
  position: absolute;
  top: 0px;
  right: -5px;

  text-align: center;
  line-height: 23px;
  letter-spacing: 0;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}
.progress-color .progress-bar{
  background-color: #e41919;
  color: #e41919;
}
.progress-color .progress-bar > span{
  background-color: #e41919;
  color: #fff;
}

/* Alt bar */
.tpl-progress-alt{
  background: #f2f2f2;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tpl-progress-alt .progress-bar{
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  overflow: visible;
  background-color: #222;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.highlight pre{
  border-color: #eaeaea;
  background: #fcfcfc;
  color: #555;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
