.svgTextAnimation{
  width: 400px;
  margin: 0 auto;
   path{
      stroke: #000;
      fill: none !important;
      transition-property: all;
      transition-duration: 1s;
      stroke-dashoffset: 100;
      stroke-dasharray: 100;
   }
}


.svgTextAnimation.animate-path{
  path {
    stroke-dashoffset :0 !important;
  }
}
