.svgTextAnimation{
   path{
      stroke: #000;
      fill: none !important;
      transition: all 1s ease-in;
      display: none;
      stroke-width: 1;
   }
}

.animate-path{
  path {
    stroke-dashoffset:0;
  }
}