body{
  color: #111;
  font-size: 14px;
  font-family: "Open Sans", arial, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a{
  color: #111;
  text-decoration: underline;
}
a:hover{
  color: #888;
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: 1.3em;
  line-height: 1.4;
  font-weight: 400;

}
h1{
  font-size: 32px;
}
h2{
  font-size: 28px;
}
h6{
  font-weight: 700;
}
p{
  margin: 0 0 2em 0;
}
ul, ol{
  margin: 0 0 1.5em 0;
}
blockquote{
  margin: 3em 0 3em 0;
  padding: 0;
  border: none;
  background: none;
  font-style: normal;
  line-height: 1.7;
  color: #777;
}
blockquote p{
  margin-bottom: 1em;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
}
blockquote footer{
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
dl dt{
  margin-bottom: 5px;
}
dl dd{
  margin-bottom: 15px;
}
pre{
  background-color: #f9f9f9;
  border-color: #ddd;

}
hr{
  background-color: rgba(255,255,255, .08);
}
hr.white{
  border-color: rgba(255,255,255, .35);
  background: rgba(255,255,255, .35);
}
hr.black{
  border-color:rgba(0,0,0, .85);
  background: rgba(0,0,0, .85);
}
.uppercase{
  text-transform: uppercase;
  letter-spacing: 1px;
}
.font-alt{
  font-family: Dosis, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.serif{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
}
.normal{
  font-weight: normal;
}
.strong{
  font-weight: 700 !important;
}
.lead{
  margin: 1em 0 2em 0;
  font-size: 140%;
  line-height: 1.6;
}
.text{
  font-size: 16px;
  font-weight: 300;
  color: #5f5f5f;
  line-height: 1.8;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6{
  color: #111;
}

.dropcap{
  float: left;
  font-size: 3em;
  line-height: 1;
  padding: 2px 8px 2px 0;
}


.big-icon{
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;
  border: 3px solid #fff;
  text-align: center;
  line-height: 88px;
  font-size: 32px;
  color: rgba(255,255,255, .97);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.big-icon .fa-play{
  position: relative;
  left: 4px;
}
.big-icon.big-icon-rs{
  border: none;
  width: auto;
  height: auto;
  font-size: 96px;
}

.big-icon-link{
  display: inline-block;
  text-decoration: none;
}
.big-icon-link:hover{
  border-color: transparent !important;
}
.big-icon-link:hover .big-icon{
  border-color: #fff;
  color: #fff;

  -webkit-transition: 0 none !important;
  -moz-transition: 0 none !important;
  -ms-transition: 0 none !important;
  -o-transition: 0 none !important;
  transition:0 none !important;
}
.big-icon-link:active .big-icon{
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -o-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

.wide-heading{
  display: block;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.4em;
  text-align: center;
  text-transform: uppercase;
  opacity: .9;

  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.big-icon-link:hover,
.big-icon-link:hover .wide-heading{
  color: #fff;
  text-decoration: none;
}
.sub-heading{
  font-size: 16px;
  font-style: italic;
  text-align: center;
  line-height: 1.3;
  color: rgba(255,255,255, .75);
}

.big-icon.black{
  color: #000;
  border-color: rgba(0,0,0, .75);
}
.big-icon-link:hover .big-icon.black{
  color: #000;
  border-color: #000;
}
.wide-heading.black{
  color: rgba(0,0,0, .87);
}
.big-icon-link.black:hover,
.big-icon-link:hover .wide-heading.black{
  color: #000;
  text-decoration: none;
}
.sub-heading.black{
  color: rgba(0,0,0, .75);
}

